<mat-dialog-content class="mat-typography">
  <mat-tab-group>
    <mat-tab label="Transfers">
      <h1></h1>
      <button mat-raised-button (click)="openAddTransportDialog()" class="add-btn">Driving somewhere?</button>
      <mat-card class="card" *ngFor="let transfer of transfers" value="transfer">
        <app-ride-card [transfer]="transfer"></app-ride-card>
      </mat-card>
    </mat-tab>
    <mat-tab label="Deliveries">
      <h1></h1>
      <button mat-raised-button (click)="openAddDeliveryDialog()" class="add-btn">Need a ride?</button>
      <mat-card class="card" *ngFor="let delivery of deliveries" value="delivery">
        <app-delivery-card [delivery]="delivery"></app-delivery-card>
      </mat-card>
    </mat-tab>
  </mat-tab-group>
</mat-dialog-content>
