<mat-toolbar color="primary">
  <button mat-icon-button (click)="sidenav.toggle()" *ngIf="loggedIn">
    <mat-icon>menu</mat-icon>
  </button>
  <span>Silent passenger</span>
  <span class="spacer"></span>

  <a *ngIf="loggedIn; else loggedOut" [routerLink]="'/profile'" mat-menu-item>Profile</a>
  <ng-template #loggedOut>
    <button mat-icon-button>
      <mat-icon>lock</mat-icon>
    </button>
  </ng-template>
</mat-toolbar>
<mat-sidenav-container>
  <mat-sidenav fullscreen #sidenav id="container">
    <mat-nav-list>
      <a mat-list-item [routerLink]="'/'">Dashboard</a>
      <a mat-list-item [routerLink]="'/create-account'"> Rides </a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <div class="content">
      <router-outlet></router-outlet>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
