<mat-dialog-actions align="end">
  <button mat-icon-button mat-button mat-dialog-close>
    <mat-icon>close</mat-icon>
  </button>
</mat-dialog-actions>
<mat-dialog-content class="mat-typography">
  <mat-tab-group dynamicHeight>
    <mat-tab label="Sing In">
      <form (ngSubmit)="login()" [formGroup]="loginForm" novalidate class="pt-5">
        <mat-card>
          <mat-card-content>
            <p>
              <mat-form-field>
                <input type="text" matInput placeholder="Email" formControlName="email">
              </mat-form-field>
            </p>
            <p>
              <mat-form-field>
                <input type="password" matInput placeholder="Password" formControlName="password">
              </mat-form-field>
            </p>
            <p *ngIf="loginError" class="error">
              {{ loginError }}
            </p>
            <div class="button">
              <button type="submit" mat-button>Login</button>
            </div>
          </mat-card-content>
        </mat-card>
      </form>
    </mat-tab>
    <mat-tab label="Sign Up">
      <form (ngSubmit)="register()" [formGroup]="registerForm" novalidate class="pt-5">
        <mat-card>
          <mat-card-content>
            <p>
              <mat-form-field>
                <input type="text" matInput placeholder="Name" formControlName="name">
              </mat-form-field>
            </p>
            <p>
              <mat-form-field>
                <input type="text" matInput placeholder="Surname" formControlName="surname">
              </mat-form-field>
            </p>
            <p>
              <mat-form-field>
                <input type="text" matInput placeholder="Address" formControlName="address">
              </mat-form-field>
            </p>
            <p>
              <mat-form-field>
                <input type="text" matInput placeholder="Phone number" formControlName="phoneNumber">
              </mat-form-field>
            </p>
            <p>
              <mat-form-field>
                <input type="text" matInput placeholder="Email" formControlName="email">
              </mat-form-field>
            </p>
            <p>
              <mat-form-field>
                <input type="password" matInput placeholder="Password" formControlName="password">
              </mat-form-field>
            </p>
            <p *ngIf="registerError" class="error">
              {{ registerError }}
            </p>
            <div class="button">
              <button type="submit" mat-button>Register</button>
            </div>
          </mat-card-content>
        </mat-card>
      </form>
    </mat-tab>
  </mat-tab-group>
</mat-dialog-content>

